*{
    margin: 0px;
    padding: 0px;
}
body{
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    color: white;
    font-family: Noto Sans;
}
body.light{
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%) ;
    color: black;
}
main{
    max-width: 1000px;
    height: auto;
    margin: 50px auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: hsl(226, 25%, 17%);
    border-radius: 20px;
}
body.light header{
    background: white ;
}
.overlay{
    display: block;
    position: relative;
}
body.light .overlay .text-overlay{
    display: none;

}
.text-overlay{
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    top: 8%;
    left: 29.5%;

}
.day{
    padding: 10px;
    background: hsl(226, 11%, 37%);
    border-radius: 10px;
}
.night{
    padding: 10px;
    background: hsl(217, 61%, 90%);
    border-radius: 10px;

}
.state{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.btn{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 5px;
    background: hsl(226, 25%, 17%) ;
    color: white ;
    border: solid 1px hsl(217, 61%, 90%) ;
    cursor: pointer;
}
body.light .btn{
    background: white ;
    color: black ;
}
.btn:focus{
    background-color: hsl(3, 86%, 64%);
    color: black;
}
body.light .btn:focus{
    background-color: hsl(3, 86%, 64%);
    color: white;
}
ul{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px
}
ul li{
    list-style-type: none;
    background: hsl(226, 25%, 17%);
    padding: 20px;
    border-radius: 10px;
    border: hsl(226, 25%, 17%);
    
}
body.light ul li {
  background: white;
  border: solid 1px hsl(217, 61%, 90%);
  box-shadow: 1px 1px 1px hsl(217, 61%, 90%);
}
.top{
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    gap: 10px;
    padding-bottom: 30px;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.diff{
    border: solid 1px white;
}
.diff:hover{
    background: hsl(3, 86%, 64%);
}
body.light .diff{
    border: 1px solid black;
}



.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: hsl(226, 11%, 37%);
  transition: 0.4s;
  border-radius: 28px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: hsl(3, 86%, 64%);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

@media screen and (max-width: 840px){
  ul{
    grid-template-columns: repeat(2,1fr);
  }  
}

@media screen and (max-width: 560px){
  main{
    max-width: 350px ;

    }
    .state{
        display: flex;
        flex-direction: column;

    }
    .state h2{
        margin-bottom: 20px;
    }
  ul{
    grid-template-columns: 1fr;
  }  
}

